
@{
	ViewBag.Title = "Nuestros Paquetes";
}

@{
	<div class="grid">

		@foreach (MercaditoVerde.Models.PaqueteModel paquete in @ViewBag.paquetes)
		{
			string numberID = "number" + @paquete.id;

			<div class="TarjetaProducto text-center">
				<h4>@paquete.nombre</h4>

				<h5>Contenido:</h5>

				<ul>
					@foreach (var producto in paquete.productos)
					{
						<li style="text-align:justify">
							@producto.nombre: @producto.cantidad
						</li>
					}
				</ul>

				<div>
					Precio: ₡@paquete.precio
					<br />
					Ahorro: ₡@paquete.ahorro

					<div class="text-center">
						<button onclick="Sub(@paquete.id)" style="width:20%">−</button>
						<input class="inputNum" type="text" value="0" id=@numberID min="0" style="width:20%" />
						<button onclick="Add(@paquete.id)" style="width:20%">+</button>
					</div>
					<br />
					<div class="botonAgregar" onclick="AgregarPaquete(@paquete.id)"> agregar </div>
				</div>
			</div>
		}
	</div>
}

<div id="mensaje-exito" class="modal">
	<span onclick="document.getElementById('carrito').style.display='none'"
		  class="close" title="Close Modal">&times;</span>
	<div id="mensaje" class="modal-content animate text-center">

	</div>
</div>

<script>
	// Get the modal
	var mod = document.getElementById('mensaje-exito');

	window.addEventListener("click", function (event) {
		if (event.target == mod) {
			mod.style.display = "none";
		}
	});
</script>