@{
    ViewBag.Title = "El mercadito";
}

<div class="jumbotron">
	<h1>Pruebas a funcionalidades</h1>

	@Html.ActionLink("Crear producto", "CrearProducto", "Producto", new { @class = "btn btn-primary btn-lg" })
	@Html.ActionLink("Crear producto", "CrearProducto", "Producto", new { @class = "btn btn-primary btn-lg" })
	@Html.ActionLink("Crear producto", "CrearProducto", "Producto", new { @class = "btn btn-primary btn-lg" })
	@Html.ActionLink("Crear producto", "CrearProducto", "Producto", new { @class = "btn btn-primary btn-lg" })
	@Html.ActionLink("Crear producto", "CrearProducto", "Producto", new { @class = "btn btn-primary btn-lg" })
	@Html.ActionLink("Crear producto", "CrearProducto", "Producto", new { @class = "btn btn-primary btn-lg" })
	@Html.ActionLink("Crear producto", "CrearProducto", "Producto", new { @class = "btn btn-primary btn-lg" })
	@Html.ActionLink("Crear producto", "CrearProducto", "Producto", new { @class = "btn btn-primary btn-lg" })
	@Html.ActionLink("Crear producto", "CrearProducto", "Producto", new { @class = "btn btn-primary btn-lg" })
</div>
