@{
    ViewBag.Title = "El mercadito";
}

<h1>Pruebas de funcionalidades</h1>

<div class="jumbotron">
	<h1>Pruebas de funcionalidades</h1>

	@Html.ActionLink("Crear producto", "CrearProducto", "Producto") <br /><br />
	@Html.ActionLink("Ver Productos", "VerProductos", "Producto") <br /><br />
	@Html.ActionLink("Crear producto", "CrearProducto", "Producto") <br /><br />
	@Html.ActionLink("Crear producto", "CrearProducto", "Producto") <br /><br />
	@Html.ActionLink("Crear producto", "CrearProducto", "Producto") <br /><br />
	@Html.ActionLink("Crear producto", "CrearProducto", "Producto") <br /><br />
	@Html.ActionLink("Crear producto", "CrearProducto", "Producto") <br /><br />
	@Html.ActionLink("Crear producto", "CrearProducto", "Producto") <br /><br />
	@Html.ActionLink("Crear producto", "CrearProducto", "Producto") <br /><br />
</div>
