<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadito Verde - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
		<div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #59886B">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand tnr" href="/"><img src="~/Content/Logo.png" style="width:20%; margin-top: -5%"></a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav" style = "color:white">
						<li><a href="/Producto/VerProductos" style="color:white;">Nuestros productos</a></li>
						<li><a href="/Paquete/VerPaquetes" style="color:white;">Nuestros paquetes</a></li>
						<li><a href="/Producto/CrearProducto" style="color:white;">Crear producto</a></li>
						<li>
							<a href="javascript:;" onclick="VerCarrito()" , style="color:white;">
							Carrito<span class="glyphicon glyphicon-shopping-cart"  /></a>	
						</li>

					</ul>
				</div>
			</div>
		</div>
		<!-- 
	<div>
		<div class="container">
			@{Html.RenderAction("subNavbar", "Home");}
		</div>
	</div>
		-->
		<div class="container body-content">
			@RenderBody()
			<hr />
			<footer>
				<p>&copy; @DateTime.Now.Year - El mercadito verde</p>
			</footer>
		</div>



		<div id="carrito" class="modal">
			<span onclick="document.getElementById('carrito').style.display='none'"
				  class="close" title="Close Modal">&times;</span>
			<div id="contenido" class="modal-content animate">

			</div>

		</div>



		@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/bootstrap")
		@Scripts.Render("~/bundles/jqueryval")
		@RenderSection("scripts", required: false)

		<link rel="stylesheet" href="~/CSS/EstilosMercadito.css" />

		<script src="~/JS/Carrito.js"></script>

		<script>
			// Get the modal
			var modal = document.getElementById('carrito');

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function (event) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
			}
		</script>
</body>
</html>

