@{
	ViewBag.Title = "Crear productos";
}

@model MercaditoVerde.Models.ProductoModel

@{
	List<SelectListItem> categorias = new List<SelectListItem>();
	List<SelectListItem> unidades = new List<SelectListItem>();

	foreach (string categoria in ViewBag.categorias)
	{
		categorias.Insert(0, (new SelectListItem { Text = categoria, Value = categoria }));
	}

	foreach (string unidad in ViewBag.unidades)
	{
		unidades.Insert(0, (new SelectListItem { Text = unidad, Value = unidad }));
	}
}


<div class="jumbotron">
	<h2 class="text-center">Añadir un nuevo producto</h2>
	@using (Html.BeginForm("CrearProducto", "Producto", FormMethod.Post, new { @class = "text-center", enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		<center>
			<div class="form-horizontal">
				<div class="form-group">
					@Html.LabelFor(model => model.nombre) <br />
					@Html.TextBoxFor(model => model.nombre, new { @class = "formcontrol", @placeholder = "Nombre del producto" }) <br />
					@Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
				</div>
				<div class="form-group">
					@Html.LabelFor(model => model.categoria) <br />
					@Html.DropDownListFor(model => model.categoria, categorias, "Categoria de producto", new { @class = "form-control" }) <br />
					@Html.ValidationMessageFor(model => model.categoria, "", new { @class = "text-danger" })
				</div>
				<div class="form-group">
					@Html.LabelFor(model => model.tipoUnidad) <br />
					@Html.DropDownListFor(model => model.tipoUnidad, unidades, "Medida para su producto", new { @class = "form-control" }) <br />
					@Html.ValidationMessageFor(model => model.tipoUnidad, "", new { @class = "text-danger" })
				</div>
				<div class="form-group">
					@Html.LabelFor(model => model.precio) <br />
					@Html.TextBoxFor(model => model.precio, new { @class = "formcontrol", @placeholder = "Precio de su producto" }) <br />
					@Html.ValidationMessageFor(model => model.precio, "", new { @class = "text-danger" })
				</div>
				<div class="form-group">
					@Html.LabelFor(model => model.imagen) <br />
					@Html.TextBoxFor(model => model.imagen, new { @type = "file", @class = "btn btn alert-info" }) <br />
					@Html.ValidationMessageFor(model => model.imagen, "", new { @class = "text-danger" })
				</div>

				<div class="text-center">
					<input type="submit" class="btn btn-success" value="Añadir producto" />
				</div>
			</div>
		</center>
	}
</div>
